<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>index</title>
</head>

<body>

    {{>navbar}}

    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div
                        class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                        <h1>WE WILL HELP YOU TO</h1>
                        <h1>GROW YOUR BUISNESS</h1>
                        <p>We Are Team Of <span class="bold-style">Proffessionl Developers✌</span></p>
                        <button class="btn-style btn-primary">Read More</button>
                    </div>
                    <div class="col-md-6 col-12 hero-text order-md-1 order-0">
                        <figure>
                            <img src="/images/growth.jpg" alt="herosection_image" height="400" width="550"
                                style="border-radius: 5vh;">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-5" id="about">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">About Us</h1>
                <p class="text-center sub-heading">grow your business with us</p>
                <div class="row">
                    <div class="col-md-6 col-12 hero-text ">
                        <figure>
                            <img src="/images/about.jpg" alt="herosection_image" height="400" width="550"
                                style="border-radius: 5vh;">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 hero-text  d-flex justify-content-center align-items-start flex-column">
                        <h1>WE ARE THE PROFESSIONAL DEVELOPERS</h1>
                        <p>We Are Team Of <span class="bold-style">Proffessionl Developers✌</span></p>
                        <button class="btn-style btn-primary">Read More</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid " id="about">
        <div class="row">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3768.6561757597487!2d72.94856241455209!3d19.166521854102324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b8f41eea5059%3A0x113ab197c0b16b55!2s1%2C%20Pandit%20Jawaharlal%20Nehru%20Rd%2C%20opp.%20Pooja%20Hospital%2C%20Indira%20Nagar%2C%20Mulund%20West%2C%20Mumbai%2C%20Maharashtra%20400080!5e0!3m2!1sen!2sin!4v1663780962357!5m2!1sen!2sin"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

    <div class="container-fluid mt-5" id="about">
        <div class="row">
            <div class="col-md-7 col-12 mx-auto">
                <h1 class="text-center main-heading">Contact Us</h1>
                <p class="text-center sub-heading">We Will Be Happy To Help You</p>
                <form action="/contact" method="post">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp"
                            placeholder="Enter name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="phone">phone</label>
                        <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter Phone Number">
                    </div>
                    <div class="form-group">
                        <label for="message">message</label>
                        <textarea class="form-control" id="message" name="message" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>


    <script src="../jquery/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
</body>

</html>